@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>BENİM GALERİM</h1>
        <p>Flekbox İle Yaptığım Galerim</p>
        <div class="row">
            <div>
                <img src="~/css/img/261-400x600.jpg" />
                <img src="~/css/img/272-400x600.jpg" />
                <img src="~/css/img/312-400x600.jpg" />
                <img src="~/css/img/378-400x600.jpg" />
                <img src="~/css/img/466-400x600.jpg" />
                <img src="~/css/img/563-400x600.jpg" />
            </div>
            <div>
                <img src="~/css/img/667-400x600.jpg" />
                <img src="~/css/img/608-400x600.jpg" />
                <img src="~/css/img/693-400x600.jpg" />
                <img src="~/css/img/744-400x600.jpg" />
                <img src="~/css/img/783-400x600.jpg" />
                <img src="~/css/img/784-400x600.jpg" />
            </div>
            <div>
                <img src="~/css/img/832-400x600.jpg" />
                <img src="~/css/img/876-400x600.jpg" />
                <img src="~/css/img/261-400x600.jpg" />
                <img src="~/css/img/916-400x600.jpg" />
                <img src="~/css/img/272-400x600.jpg" />
                <img src="~/css/img/312-400x600.jpg" />
            </div>
            <div>
                <img src="~/css/img/378-400x600.jpg" />
                <img src="~/css/img/466-400x600.jpg" />
                <img src="~/css/img/563-400x600.jpg" />
                <img src="~/css/img/608-400x600.jpg" />
                <img src="~/css/img/667-400x600.jpg" />
                <img src="~/css/img/693-400x600.jpg" />
                
            </div>
        </div>

    </div>
</body>
</html>