* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: turquoise;
}

.container {
    text-align: center;
}

.row {
    padding: 10px 0;
}

.row > div > img {
        margin-bottom: 10px;
        margin-right: 5px;
}


@media screen and (max-width: 600px) {
    .row > div > img {
        width: 100%;
    }
}